<nav class="navbar navbar-expand-lg fixed-top" style="box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15); ">
  <div class="container-fluid">
    <a class="navbar-brand">
    <%= image_tag("navbar.png", alt: "Logo",  width: 40, height: 40) %>
    <b><span style="padding-top:40px">ClipCentral</span></b>
    </a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="<%= ind_path %>">Strona g贸wna</a>
      </li>
      <li class="nav-item">
      <a class="nav-link active" href="#"  data-bs-toggle="modal" data-bs-target="#exampleModal">
      O nas
      </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="<%= new_user_session_path %>">Logowanie</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="<%= help_path %>">Pomoc</a>
      </li>
      <!--<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Dropdown link
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </li>--!>
    </ul>
  </div>
  <form class="d-flex" role="search" style="float:right">
      <input class="form-control me-2" type="search" placeholder="Wyszukaj na stronie..." aria-label="Szukaj">
      <button class="btn" style="background-color: #ff69b4" type="submit"><b>Szukaj</b></button>
    </form>
</div>
</nav>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" style="background-color: #ffcde3;">
      <div class="modal-header" style="border-bottom: 0.5px solid black;">
        <h1 class="modal-title fs-5" id="exampleModalLabel">O nas </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p> ClipCentral to dynamicznie rozwijajca si platforma wideo, kt贸ra czy ludzi z caego wiata poprzez kr贸tkie filmy. Nasz misj jest stworzenie przestrzeni, w kt贸rej ka偶dy mo偶e dzieli si swoimi pasjami, talentami i codziennymi chwilami. Wierzymy, 偶e ka偶dy ma co wartociowego do pokazania, a nasze narzdzia i funkcje s zaprojektowane tak, aby to umo偶liwi w najprostszy spos贸b.</p>
        <p>Jestemy zespoem entuzjast贸w technologii i kreatywnych tw贸rc贸w, kt贸rzy pracuj nad tym, aby ClipCentral by miejscem penym pozytywnej energii i inspiracji. Dziki naszemu zaanga偶owaniu w innowacje, zapewniamy u偶ytkownikom najnowsze narzdzia do tworzenia i dzielenia si treciami wideo.</p>
        <p>Docz do naszej spoecznoci i sta si czci globalnego ruchu tw贸rc贸w, kt贸rzy inspiruj innych ka偶dego dnia. ClipCentral to nie tylko platforma - to miejsce, gdzie Twoje historie nabieraj 偶ycia.</p>
        <center><p style="color:#AA336A; font-size:20px; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1) "><b><i>ClipCentral - Tw贸rz, inspiruj, cz si!</b></i></p></center>  
      </div>
      <div class="modal-footer" style="border-top:0.5px solid #333">
        <button type="button" class="btn" data-bs-dismiss="modal" style="background-color:#ff69b4;">Zamknij</button>
      </div>
    </div>
  </div>
</div>


<div id="cont" style="margin-top:110px;" class="page-transition">
<div style="width:100%; height:600px">
<div class="card mb-3" style="width: 30rem; border: 2px solid #F433FF; box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);  background-color: #ffcde3; margin-left:500px">
    <center><h4 class="card-header"><span class="badge rounded-pill" style="background-color:#ff69b4; font-size:20px">Docz do naszej spoecznoci! </span></h4></center>
    <div class="card-body">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
    
      <div class="mb-3">
        <%= f.label "Adres e-mail", class:"form-label" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
      </div>

      <div class="mb-3">
        <%= f.label "Nazwa u偶ytkownika", class:"form-label" %><br />
        <%= f.text_field :name, autofocus: true, class:"form-control" %>
      </div>
    
      <div class="mb-3">
        <%= f.label "Haso",  class:"form-label" %>
        <%= f.password_field :password, autocomplete: "new-password", class:"form-control"  %>
         <div id="emailHelp" class="form-text">
    Haso powinno zawiera przynajmniej 6 znak贸w, jedn wielk liter, jedn ma liter, jedn cyfr oraz jeden znak specjalny.</div>
      </div>
    
      <div class="mb-3">
        <%= f.label "Powt贸rz haso", class:"form-label" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
      </div>

      <div class="mb-3">
      <center>
        <%= f.submit "Zarejestruj si", class:"btn" , style:"background-color:#ff69b4;"%>
        <%= link_to "Powr贸t do logowania", new_user_session_path, class:"btn" , style:"background-color:#ff69b4;"%></center>
      </div>
    <% end %>
    

  </div>
</div>
</div>
</div>
<footer>
<p><b>Copyright &copy 2024 </b> ClipCentral. Wszelkie prawa zastrze偶one.</p>
</footer>


<!-- Modal -->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" style="background-color: #e7d1ff;">
      <div class="modal-header" style="border-bottom: 0.5px solid black;">
        <h1 class="modal-title fs-5" id="exampleModalLabel1">Zmiana hasa </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <div class="mb-3">
      <p>Wprowad藕 sw贸j adres e-mail poni偶ej, a my wylemy Ci nowe haso. </p>
      <label for="exampleFormControlInput1" class="form-label"><b>Adres e-mail</b></label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" style="margin-bottom:10px">
      </div>
        
      </div>
      <div class="modal-footer" style="border-top:0.5px solid #333">
        <button type="submit" class="btn" style="background-color:#ff69b4;">Wylij</button>
        <button type="button" class="btn" data-bs-dismiss="modal" style="background-color:#ff69b4;">Zamknij</button>
      </div>
    </div>
  </div>
</div>

<%= render "devise/shared/links" %>
