<nav class="navbar navbar-expand-lg fixed-top" style="box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15); ">
  <div class="container-fluid">
    <a class="navbar-brand">
    <%= image_tag("navbar.png", alt: "Logo",  width: 40, height: 40) %>
    <b><span style="padding-top:40px">ClipCentral</span></b>
    </a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="<%= aind_path %>">Panel główny</a>
      </li>
      <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="<%= usr_path %>">Użytkownicy</a>
    </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Filmy
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="<%= all_path %>">Wszystkie filmy</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="<%= rep_path %>">Zgłoszenia</a></li>
        </ul>
      </li>
      <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="<%= ahelp_path %>">Strefa pomocy</a>
    </li>
      <li class="nav-item">
      <a class="nav-link active" href="<%= set_path %>">Ustawienia strony</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="#"  data-bs-toggle="modal" data-bs-target="#exampleModal">
      Wyloguj
      </a>
      </li>
    </ul>
  </div>
  <%= search_form_for @users_search, url: search_path, method: :get, html: { class: "d-flex", role: "search", style: "float:right" } do |f| %>
    <%= f.text_field :name_cont, placeholder: "Wyszukaj użytkowników...", class: "form-control me-2", type: "search", aria: { label: "Szukaj" }, style:"width:250px;" %>
    <%= f.submit "Szukaj", class: "btn", style: "background-color: #ff69b4;" do %>
      <b>Szukaj</b>
    <% end %>
  <% end %>
</div>
</nav>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" style="background-color: #ffcde3;">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Czy na pewno chcesz się wylogować?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <center>
            <% if user_signed_in? %>
            <%= button_to 'Wyloguj się', destroy_user_session_path, method: :delete, class: 'btn', style:"background-color:#c94bc9; font-size:20px", data: { confirm: "Czy na pewno chcesz się wylogować?" } %>        
            <% end %>
      </center>
      </div>
    </div>
  </div>
</div>





<div id="cont" style="margin-top:80px; margin-bottom:300px" class="page-transition">
<div style="width:100%; height:auto; margin-bottom:100px; height:550px">
<center><h2 style="font-weight:700; color: #430f58;">Bieżące problemy użytkowników</h2>

<span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Kliknij na ikonkę, aby dowiedzieć się więcej!">
<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal1">
   <%= image_tag("question_mark.jfif", height: 100, style:"border-radius:30px") %>
</button>
</span>

<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="text-align:justify">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" style="background-color: #ffcde3;">
      <div class="modal-header" style="border-bottom: 0.5px solid black;">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Zarządzanie zapytaniami użytkowników</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        W tej zakładce możesz przeglądać zapytania i problemy zgłoszone przez użytkowników oraz odpowiadać na nie. 
        <p style="margin-top:10px"><b>Co możesz zrobić w tej sekcji:</b></p>
        <i class="fas fa-check"></i> <b>Odpowiadanie na Zapytania</b> - Odpowiedz na pytania użytkowników bezpośrednio w systemie.<br>
        <i class="fas fa-check"></i> <b>Przeglądanie Szczegółów</b> - Sprawdź szczegóły zgłoszeń, aby lepiej zrozumieć problemy użytkowników.

        <center>
          <p style="color:#AA336A; font-size:20px; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); margin-top:20px">
            <b><i>Zespół ClipCentral </i>📷</b>
          </p>
        </center>
      </div>
      <div class="modal-footer" style="border-top:0.5px solid #333">
        <button type="button" class="btn" data-bs-dismiss="modal" style="background-color:#ff69b4;">Zamknij</button>
      </div>
    </div>
  </div>
</div>


<br>

<table class="table table-sm table-info" style="width:80%; margin-top:30px; box-shadow: 2px 2px 20px #333; margin-bottom:200px;">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">E-mail</th>
      <th scope="col">Wiadomość</th>
      <th scope="col">Utworzono</th>
      <th scope="col">Akcje</th>
    </tr>
  </thead>
  <tbody>
    <% @contacts.each_with_index do |contact, index| %>
      <tr>
        <th scope="row"><%= index + 1 %></th>
        <td style="width:30px"><%= contact.email %></td>
        <td><%= contact.message %></td>
        <td style="width:170px"><%= contact.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
        <td style="width:50px">
          <% if contact.reply.present? %>
            <span>✅</span>
          <% else %>
            <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#replyModal-<%= index %>" style="margin-bottom:10px">
              Odpisz
            </button>
          <% end %>
          
          <%= form_with model: contact, method: :delete, local: true do %>
            <%= submit_tag 'Usuń', class: 'btn btn-outline-danger', data: { confirm: 'Czy na pewno chcesz usunąć ten kontakt?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<% @contacts.each_with_index do |contact, index| %>
    <div class="modal fade" id="replyModal-<%= index %>" tabindex="-1" role="dialog" aria-labelledby="replyModalLabel-<%= index %>" aria-hidden="true" style="text-align: justify;">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="background-color: #ffcde3;">
          <div class="modal-header" style="border-bottom: 0.5px solid black;">
            <h1 class="modal-title fs-5" id="replyModalLabel-<%= index %>">Odpowiedz na wiadomość</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <% if contact.reply.present? %>
              <p>Na tę wiadomość już odpowiedziano.</p>
            <% else %>
              W tej sekcji możesz odpowiedzieć na wiadomość od użytkownika. Proszę podaj swoją odpowiedź poniżej.
              <%= form_with url: reply_contact_path(contact), method: :post, local: true do |form| %>
                <div class="form-group" style="margin-top: 10px;">
                  <%= form.label :reply, "Odpowiedź", style:"font-weight:600" %>
                  <%= form.text_area :reply, class: "form-control" %>
                </div>
                <%= form.submit "Wyślij", class: "btn", style:"background-color: #ff69b4; margin-top:15px" %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  
  


</center>
</div>
</div>
<footer>
<p><b>Copyright &copy 2024 </b> ClipCentral. Wszelkie prawa zastrzeżone.</p>
</footer>

