<nav class="navbar navbar-expand-lg fixed-top" style="box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15); ">
  <div class="container-fluid">
    <a class="navbar-brand">
    <%= image_tag("navbar.png", alt: "Logo",  width: 40, height: 40) %>
    <b><span style="padding-top:40px">ClipCentral</span></b>
    </a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="<%= aind_path %>">Panel g贸wny</a>
      </li>
      <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="<%= usr_path %>">U偶ytkownicy</a>
    </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Filmy
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="<%= all_path %>">Wszystkie filmy</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="<%= rep_path %>">Zgoszenia</a></li>
        </ul>
      </li>
      <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="<%= ahelp_path %>">Strefa pomocy</a>
    </li>
      <li class="nav-item">
      <a class="nav-link active" href="<%= set_path %>">Ustawienia strony</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="#"  data-bs-toggle="modal" data-bs-target="#exampleModal">
      Wyloguj
      </a>
      </li>
    </ul>
  </div>
  <%= search_form_for @users_search, url: search_path, method: :get, html: { class: "d-flex", role: "search", style: "float:right" } do |f| %>
    <%= f.text_field :name_cont, placeholder: "Wyszukaj u偶ytkownik贸w...", class: "form-control me-2", type: "search", aria: { label: "Szukaj" }, style:"width:250px;" %>
    <%= f.submit "Szukaj", class: "btn", style: "background-color: #ff69b4;" do %>
      <b>Szukaj</b>
    <% end %>
  <% end %>
</div>
</nav>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" style="background-color: #ffcde3;">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Czy na pewno chcesz si wylogowa?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <center>
            <% if user_signed_in? %>
            <%= button_to 'Wyloguj si', destroy_user_session_path, method: :delete, class: 'btn', style:"background-color:#c94bc9; font-size:20px", data: { confirm: "Czy na pewno chcesz si wylogowa?" } %>        
            <% end %>
      </center>
      </div>
    </div>
  </div>
</div>





<div id="cont" style="margin-top:80px" class="page-transition">

<div style="width:40%; float:left; margin: 50px;margin-bottom:30px; margin-left:140px">
<% if user_signed_in? %>
<h3 style="font-weight:700; color: #430f58;;"> Witaj w Panelu Administracyjnym <center><span class="badge text" style="background-color:#ff69b4; margin-top:30px; font-size:30px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);"><%= current_user.name %></center></span></h3>
<% end %>
<p style="margin-top:50px; font-size:18px">
Nasza aplikacja wideo umo偶liwia u偶ytkownikom zamieszczanie, ogldanie i komentowanie film贸w. U偶ytkownicy premium maj dodatkowe mo偶liwoci, takie jak pobieranie film贸w i promowanie swoich treci. Jako administrator, masz pen kontrol nad treciami i u偶ytkownikami na stronie.
</p>

</div>


<div style="width:40%; float:left; margin-top:50px; margin-left:100px; margin-bottom:30px">

<%= image_tag("admin.jfif", height: 350, class:"logo") %>

</div>

<hr style="margin-top:480px; position:absolute; width:80%; margin-left:150px; border: 2px solid; color: #ff69b4; margin-bottom:100px">

<div style="width: 50%; margin-left:30px; float:left; margin-bottom:100px;margin-top:80px;">
<center>
<h3 style="font-weight:700; color: #430f58;">Statystyki</h3>
</center>
<br>
<div class="card" style="width: 18rem; background-color: #ffcde3; float:left; margin-left:60px; border: 2px solid #FF10F0">
  <div class="card-body">
  <center><p class="card-text"><span class="badge rounded-pill" style="font-size:40px;background-color:#c94bc9; margin-bottom:10px;  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);"><%= User.count %><span></p></center>
    <p class="card-title" style="font-size:20px">Liczba zarejestrowanych u偶ytkownik贸w 
    </p>
  </div>
</div>

<div class="card" style="width: 18rem; background-color: #ffcde3; float:right; margin-right:60px; border: 2px solid #FF10F0">
  <div class="card-body">
  <center><p class="card-text"><span class="badge rounded-pill" style="font-size:40px;background-color:#c94bc9; margin-bottom:10px;  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);"><%= Video.count %><span></p></center>
    <p class="card-title" style="font-size:20px">Liczba wstawionych film贸w 
    </p>
  </div>
</div>

<div class="card" style="width: 18rem; background-color: #ffcde3; float:left; margin-left:60px; margin-top:40px; border: 2px solid #FF10F0">
  <div class="card-body">
  <center><p class="card-text"><span class="badge rounded-pill" style="font-size:40px;background-color:#c94bc9; margin-bottom:10px;  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);"><%= Report.count %><span></p></center>
    <p class="card-title" style="font-size:20px">Liczba zgoszonych film贸w do moderacji 
    </p>
  </div>
</div>

<div class="card" style="width: 18rem; background-color: #ffcde3; float:right; margin-right:60px; margin-top:40px; height:180px; border: 2px solid #FF10F0">
  <div class="card-body">
  <center><p class="card-text"><span class="badge rounded-pill" style="font-size:40px;background-color:#c94bc9; margin-bottom:10px;  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);"><%= Comment.count %><span></p></center>
    <p class="card-title" style="font-size:20px">Liczba komentarzy 
    </p>
  </div>
</div>

</div>
</div>

<div style="width: 30%; margin-left:70px; float:left; margin-bottom:200px;margin-top:80px;">

<center>
<h3 style="font-weight:700; color: #430f58;">Szybki dostp</h3></center>
<p style="margin-left:10px; margin-top:30px">Skorzystaj z poni偶szych szybkich link贸w, aby szybko przej do najczciej u偶ywanych funkcji administracyjnych:</p>

    <div class="list-group" style="margin-top:20px; width:480px; border: 1px solid #333;  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.3);">
    <a href=" <%= usr_path %> " class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Usu u偶ytkownika</h5>
        <small class="text-body-secondary">Nacinij na tekst, aby przej dalej</small>
      </div>
      <p class="mb-1">Kliknij, aby przej do sekcji zarzdzania u偶ytkownikami.</p>
    </a>
    <a href="<%= rep_path %>" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Usu film</h5>
      </div>
      <p class="mb-1">Przejd藕 do sekcji zgoszonych film贸w.</p>
    </a>
    <a href="<%= all_path %>" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Komentarze</h5>
    </div>
    <p class="mb-1">Przegldaj komentarze wraz z funkcj ich usuwania.</p>
  </a>
  </div>

</div>

<hr style="margin-top:1000px; position:absolute; width:80%; margin-left:150px; border: 2px solid; color: #ff69b4;">

</div>
<footer>
<p><b>Copyright &copy 2024 </b> ClipCentral. Wszelkie prawa zastrze偶one.</p>
</footer>